html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background:-webkit-gradient(linear, 50% 72%, 49% 2%, from(#2BFFCA), to(#2E46FF)) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    font-family: Arial, sans-serif
    /*small_fabric.png
background: url(decoration.png) left top no-repeat, url(ribbon.png) right bottom no-repeat, url(old_paper.jpg) left top no-repeat;
    */
}
#wrapper{
    margin: 0 auto;
    width: 80%;
    min-width: 500px;
    position:relative;
    margin-top:1%;
}
#wrapper img{
    width:100%;
    height:100%;
    border:1px solid blue;
    
	    -moz-box-shadow: 2px 0px 22px #000000;
	    -webkit-box-shadow: 2px 0px 22px #000000;
	    box-shadow: 2px 0px 22px #000000;
}
#wrapper input{
    border:1px solid blue;
    text-align:center;
    padding:0;
    color: #000;
}

.highlight{
    /* default fallback */
    background: rgb(1, 79, 130) transparent;
    /* nice browsers */
    background: rgba(1, 79, 130, 0.1);
    /* IE 6/7 */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
    /* IE8 */    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)";
}
.white{background-color: #fff;}

	.nav_button_holder{
	    top: 20%;
	    position: absolute;
	    display: block;
	    z-index: 100;
	}
	
	#leftNav{
	    left: -24px;
	    width: 45px;
	    height: 95px;
	    outline: 0;
	    background: url(../images/arrows-metallic.png) 0px -95px repeat-x;
	    opacity:0.5;
	}
	#leftNav:hover{
	    background: url(../images/arrows-metallic.png) 0px 0px repeat-x;
	    opacity:1.0;
	}
	#rightNav{
	    right: -24px;
	    width: 45px;
	    height: 95px;
	    outline: 0;
	    background: url(../images/arrows-metallic.png) -45px -95px repeat-x;
	    opacity:0.5;
	}
	#rightNav:hover{
	    background: url(../images/arrows-metallic.png) -45px 0px repeat-x;
	    opacity:1.0;
	}
        
.options_holder{
    background-color: red;
    display: none;
}


#menu{
    cursor: pointer;
    z-index: 1005;
    position: fixed;
    top:5%;
    left: 0;
    width: 50px;
    height: 30px;
    background-color: #2BFFCA;
    text-align: center;
    border-top:  3px ridge #E6E6E6;
    border-right: 3px ridge #E6E6E6;
    border-bottom: 3px ridge #E6E6E6;
    
    /* default fallback */
    background: rgb(43, 255, 202) transparent;
    /* nice browsers */
    background: rgba(43, 255, 202, 0.5);
    /* IE 6/7 */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
    /* IE8 */    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)";
}

.menuItem{
    float: left;
    margin: 5px;
}

#questionMenu{
    display: none;
    z-index: 1004;
    position: fixed;
    top:14%;
    left: 0;
    width: 13%;
    min-width: 150px;
    background-color: #2A75E8;
    /* default fallback */
    background: rgb(1, 79, 130) transparent;
    /* nice browsers */
    background: rgba(1, 79, 130, 0.5);
    /* IE 6/7 */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
    /* IE8 */    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)";
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    border-top:  3px ridge #E6E6E6;
    border-right: 3px ridge #E6E6E6;
    border-bottom: 3px ridge #E6E6E6;
    
-webkit-animation: cssAnimation 1s 1 ease-in-out;
-moz-animation: cssAnimation 1s 1 ease-in-out;
-o-animation: cssAnimation 1s 1 ease-in-out;
}
@-webkit-keyframes cssAnimation {
0%   {left:-300px;}
80%  {left:20px;}
100% {left:0px;}
}
@-moz-keyframes cssAnimation {
0%   {left:-300px;}
90%  {left:10px;}
100% {left:0px;}
}
@-o-keyframes cssAnimation {
0%   {left:-300px;}
90%  {left:10px;}
100% {left:0px;}
}

#questionNumber{
    width:20%;
    font-size: 8px;
    line-height: 8px;
}
.menuInputs{
    padding-left: 5px;
    font-size: 12px;
    text-align: center;
}

.typePane{
    display: none;
    z-index: 1003;
    position: fixed;
    left: 0;
    width: 12%;
    min-width: 140px;
    background-color: #2A75E8;
    /* default fallback */
    background: rgb(1, 79, 130) transparent;
    /* nice browsers */
    background: rgba(1, 79, 130, 0.5);
    /* IE 6/7 */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
    /* IE8 */    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)";
    text-align: center;
    padding: 30px 10px 10px 10px;
    color: #fff;
    font-size: 16px;
    border-top:  3px ridge #E6E6E6;
    border-right: 3px ridge #E6E6E6;
    border-bottom: 3px ridge #E6E6E6;
    
}

#correctAnswer, .helpInput, .helpLink{
    width: 93%;
}
#points, #multPoints, #checkPoints, #areaPoints{
    width: 25%;
}
#multPoints{
    width: 15%;
}


.img-rounded {
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}


.large-img-rounded {
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

.img-left-rounded {
-webkit-border-top-left-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-bottomleft: 6px;
border-top-left-radius: 6px;
border-bottom-left-radius: 6px;
}

.img-right-rounded {
-webkit-border-top-right-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
-moz-border-radius-topright: 6px;
-moz-border-radius-bottomright: 6px;
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
}

.img-top-rounded {
-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
}

.img-bottom-rounded {
-webkit-border-bottom-left-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
-moz-border-radius-bottomleft: 6px;
-moz-border-radius-bottomright: 6px;
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
}

.shadow{
    -moz-box-shadow: 2px 0px 22px #000000;
    -webkit-box-shadow: 2px 0px 22px #000000;
    box-shadow: 2px 0px 22px #000000;
}

.newline{clear: both;}

.picker-dialog{
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
    -moz-box-shadow: 2px 0px 22px #000000;
    -webkit-box-shadow: 2px 0px 22px #000000;
    box-shadow: 2px 0px 22px #000000;
}