{% load dajaxice_templatetags %}

<!DOCTYPE html>

<html>
<head>
    <title>Show's the File</title>
    
    <script language="JavaScript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    <script language="JavaScript" type="text/javascript" src="{{ MEDIA_URL }}/static/js/jquery-ui-1.10.3.custom.js"></script>
    
    <link href="{{ MEDIA_URL }}/static/css/jquery-ui-1.10.3.custom.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ MEDIA_URL }}/static/css/style.css" />
    
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/static/css/imgareaselect-animated.css" />
    <script type="text/javascript" src="{{ MEDIA_URL }}/static/js/jquery.imgareaselect.pack.js"></script>

	{% dajaxice_js_import %}
    
</head>

<body>
<section id="wrapper-holder">
    <div id="app-bar-content" class="shadow" >
	<img id="barLogo" src="{{ MEDIA_URL }}/static/images/barLogo.png" width="193" height="38" alt="Menu"/>
	<img id="downLogo" src="{{ MEDIA_URL }}/static/images/down.png" width="29" height="29" alt="Menu"/>
	<img id="menuLogo" class="shadow" src="{{ MEDIA_URL }}/static/images/menu.png" width="29" height="29" alt="Menu"/>
    </div>
    <section id="wrapper">
	{% for backImage in newProject.backgroundImages.all %}
	    {% ifequal backImage.pageNumber pageNumber %}
	    <img id="backgroundImage" class="large-img-rounded shadow" src="{{ MEDIA_URL }}{{ backImage.imagePath }}"/>
	    {% endifequal %}
	{% endfor %}
	
	{% if pageNumber > 1 %}
	<a href="/nextPage/{{ newProject.id }}/{{ pageNumber|add:"-1" }}/{{ totalPages }}/" title="Previous"><div id="leftNav" class="nav_button_holder"></div></a>
	{% endif %}
	{% ifnotequal pageNumber totalPages %}
	<a href="/nextPage/{{ newProject.id }}/{{ pageNumber|add:"1" }}/{{ totalPages }}/" title="Next"><div id="rightNav" class="nav_button_holder"></div></a>
	{% endifnotequal %}
	
	<form id="default_form">
	{% if formInputs %}
	    {% for input in formInputs %}
		{% ifequal input.pageNumber pageNumber %}
		    {% if input.inputType == 'textarea' %}
			<textarea id="input{{ input.id }}" class="answers highlight img-rounded" readonly="readonly" data-options='{"answer_id":"{{ input.id }}", "question_number":"{{ input.questionNumber }}", "input_type":"{{ input.inputType }}", "points":"{{ input.points }}", "help_text":{% if input.helpText %}"{{ input.helpText }}"{% else %}""{% endif %}, "help_link":{% if input.helpLink %}"{{ input.helpLink }}"{% else %}""{% endif %}}' style="position: absolute;z-index: 1000;left: {{ input.left }}%;top: {{ input.top }}%;width: {{ input.width }}%; height: {{ input.height }}%">Place keywords to search in order to help with grading later.</textarea>
			<script>
			    {% if input.option1 %}
			    $('#input{{ input.id }}').data('keyword1', '{{ input.option1 }}');
			    {% endif %}
			    {% if input.option2 %}
			    $('#input{{ input.id }}').data('keyword2', '{{ input.option2 }}');
			    {% endif %}
			    {% if input.option3 %}
			    $('#input{{ input.id }}').data('keyword3', '{{ input.option3 }}');
			    {% endif %}
			    {% if input.option4 %}
			    $('#input{{ input.id }}').data('keyword4', '{{ input.option4 }}');
			    {% endif %}
			</script>
		    {% elif input.inputType == 'work' %}
			<textarea id="input{{ input.id }}" class="answers highlight img-rounded" readonly="readonly" data-options='{"answer_id":"{{ input.id }}", "question_number":"{{ input.questionNumber }}", "input_type":"{{ input.inputType }}", "points":"{{ input.points }}", "help_text":{% if input.helpText %}"{{ input.helpText }}"{% else %}""{% endif %}, "help_link":{% if input.helpLink %}"{{ input.helpLink }}"{% else %}""{% endif %}}' style="position: absolute;z-index: 1000;left: {{ input.left }}%;top: {{ input.top }}%;width: {{ input.width }}%; height: {{ input.height }}%">Work Area will be activated for student use...</textarea>
		    {% elif input.inputType == 'select' %}
			<select id="input{{ input.id }}" class="answers highlight img-rounded" data-options='{"answer_id":"{{ input.id }}", "question_number":"{{ input.questionNumber }}", "input_type":"{{ input.inputType }}", "points":"{{ input.points }}", "help_text":{% if input.helpText %}"{{ input.helpText }}"{% else %}""{% endif %}, "help_link":{% if input.helpLink %}"{{ input.helpLink }}"{% else %}""{% endif %}}' style="position: absolute;z-index: 1000;left: {{ input.left }}%;top: {{ input.top }}%;width: {{ input.width }}%; height: {{ input.height }}%">
			    <option id="option0" value="none">Select One...</option>
			    {% if input.option1 %}
			    <option id="option1" value="option1">{{ input.option1 }}</option>
			    {% endif %}
			    {% if input.option2 %}
			    <option id="option2" value="option2">{{ input.option2 }}</option>
			    {% endif %}
			    {% if input.option3 %}
			    <option id="option3" value="option3">{{ input.option3 }}</option>
			    {% endif %}
			    {% if input.option4 %}
			    <option id="option4" value="option4">{{ input.option4 }}</option>
			    {% endif %}
			    {% if input.option5 %}
			    <option id="option5" value="option5">{{ input.option5 }}</option>
			    {% endif %}
			</select>
			<script>
			    {% if input.option1 %}
			    $('#input{{ input.id }}').data('choice1', '{{ input.option1 }}');
			    {% endif %}
			    {% if input.option2 %}
			    $('#input{{ input.id }}').data('choice2', '{{ input.option2 }}');
			    {% endif %}
			    {% if input.option3 %}
			    $('#input{{ input.id }}').data('choice3', '{{ input.option3 }}');
			    {% endif %}
			    {% if input.option4 %}
			    $('#input{{ input.id }}').data('choice4', '{{ input.option4 }}');
			    {% endif %}
			    {% if input.option5 %}
			    $('#input{{ input.id }}').data('choice5', '{{ input.option5 }}');
			    {% endif %}
			    {% if input.correctAnswer %}
				$('#input{{ input.id }}').val('{{ input.correctAnswer }}');
			    {% endif %}
			</script>
		    {% else %}
			<input id="input{{ input.id }}" class="answers highlight" data-options='{"answer_id":"{{ input.id }}", "question_number":"{{ input.questionNumber }}", "input_type":"{{ input.inputType }}", "points":"{{ input.points }}", "help_text":{% if input.helpText %}"{{ input.helpText }}"{% else %}""{% endif %}, "help_link":{% if input.helpLink %}"{{ input.helpLink }}"{% else %}""{% endif %}}' type="{{ input.inputType }}" title='answer...' value="{% if input.correctAnswer %}{{ input.correctAnswer }}{% endif %}" name="" style="position: absolute;z-index: 1000;left: {{ input.left }}%;top: {{ input.top }}%;width: {{ input.width }}%; height: {{ input.height }}%">
		    {% endif %}
		{% endifequal %}
	    {% endfor %}
	{% endif %}
	</form>
	
	
	<section id="sidebar-content" class="shadow">
	    <div id="top-selection">
		<div id="user-info">
		    <div>
			<img id="small-avatar" title="" class="img-rounded" src="{% if userInfo.avatar %}{{ userInfo.avatar }}{% else %}{{ MEDIA_URL }}/static/images/REPLACEHERE.png{% endif %}" alt="user"/>
			
		    </div>
		    <div id="user-name">{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</div>
		</div>
		<div id="edit-logo" class="tab-highlight">
		    <img id="edit-logo-pic" title="Edit" class="img-rounded" src="{{ MEDIA_URL }}/static/images/edit.png" alt="edit"/>
		</div>
	    </div>
	    <div id="sidebar-inset">
		<div id="inset-menu">
		    <div id="button1" class="inset-edit-buttons img-top-rounded" title="Question Number and Type" ><img src="{{ MEDIA_URL }}/static/images/Question-Number.png" alt="Question Number"/></div>
		    <div id="button2" class="inset-edit-buttons img-top-rounded" title="Answer"><img src="{{ MEDIA_URL }}/static/images/answer.png" alt="Question Number"/></div>
		    <div id="button3" class="inset-edit-buttons img-top-rounded" title="Question Number and Type"><img src="{{ MEDIA_URL }}/static/images/Question-Number.png" alt="Question Number"/></div>
		</div>
		
<!-----------------------Question Number and Type---------------------------------->
<div id="questionMenu" class="img-rounded">
    <div class="menuItem newline" style="margin-left: 21%;" >Question Number</div>
    <input id="questionNumber" class="menuInputs img-rounded menuItem newline" style="margin-left: 37%;" type="number" min="1" step="1" pattern="\d+"/>
    <div class="menuItem newline" style="margin-left: 27%;" >Answer Type</div>
    <div class="menuItem newline center" style="width: 100%;">
        <select id="questionType" class="menuInputs img-rounded" style="margin-left: 0;width: 80%;">
            <option value="text">Text</option>
            <option value="number">Number</option>
            <option value="textarea">Paragraph</option>
            <option value="select">Multiple Choice</option>
            <option value="checkbox">Checkbox</option>
            <option value="work">"Show Your Work" Box</option>
        </select>
    </div>
    <div class="menuItem"></div>
</div>
<!-------------------End Question Number and Type---------------------------------->
		
		
		
		
		
	    </div>
	</section>
    </section>
</section>


{% include "includes/showfile_script.html" %}


</body>
</html> 