{% load dajaxice_templatetags %}

<!DOCTYPE html>

<html>
<head>
    <title>Show's the File</title>
    
    <script src="{{ MEDIA_URL }}/static/js/jquery-ui-1.10.3.custom.js"></script>
    <script>window.jQuery || document.write('<script src="{{ MEDIA_URL }}/static/js/jquery.min.js"><\/script>')</script>
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    
    <link rel="stylesheet" href="{{ MEDIA_URL }}/static/css/style.css" />
    
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/static/css/imgareaselect-animated.css" />
    <script type="text/javascript" src="{{ MEDIA_URL }}/static/js/jquery.imgareaselect.pack.js"></script>

	{% dajaxice_js_import %}
    
</head>

<body>
<div id="menu" class="img-right-rounded shadow"><img src="{{ MEDIA_URL }}/static/images/menu.png" width="30" height="30" alt="Menu"/></div>
<div id="questionMenu" class="img-right-rounded shadow">
    <div class="menuItem newline" style="margin-left: 21%;" >Question Number</div>
    <input id="questionNumber" class="menuInputs img-rounded menuItem newline" style="margin-left: 37%;" type="number" min="1" step="1" pattern="\d+"/>
    <div class="menuItem newline" style="margin-left: 27%;" >Answer Type</div>
    <div class="menuItem newline center" style="width: 100%;">
        <select id="questionType" class="menuInputs img-rounded" style="margin-left: 0;width: 80%;">
            <option value="text">Text</option>
            <option value="number">Number</option>
            <option value="textarea">Paragraph</option>
            <option value="select">Multiple Choice</option>
            <option value="checkbox">Checkbox</option>
            <option value="work">"Show Your Work" Box</option>
        </select>
    </div>
    <div class="menuItem"></div>
</div>
<div id="textPane" class="highlight typePane img-right-rounded shadow">
    <div class="menuItem">Correct Answer</div>
    <div id="correctAnswer" class="menuItem newline"></div>
    <div class="menuItem">Points</div>
    <input id="points" class="menuInputs img-rounded menuItem newline" style="margin-left: 0%;" value="1" type="text" />
    <div class="menuItem newline" style="margin-top: 10px;">Help Text...</div>
    <textarea id="helpInput" rows="4" class="menuInputs img-rounded menuItem newline" maxlength="100" style="margin-left: 0%;font-size: 16px;" placeholder="enter help text here..."></textarea>
    <div class="menuItem">Help Link...</div>
    <input id="helpLink" class="menuInputs img-rounded menuItem newline" style="margin-left: 0%;" value="" type="text" />
</div>
<div id="multipleChoicePane" class="highlight typePane img-right-rounded shadow" style="width: 20%;min-width: 275px;" >
    <div class="menuItem">Answer Choices</div>
    <input id="choice1" class="menuInputs img-rounded menuItem newline" style="margin-left: 0%;width: 60%;" value="" type="text" /><input class="menuInputs menuItem" style="margin-top: 3.5%;border: 0px;width: 17px;height: 17px;" type="radio" name="correctChoice" value="1" /><div style="margin-top: 3%;margin-right: 3%;font-size: 100%" class="menuItem">Correct?</div>
    <input id="choice2" class="menuInputs img-rounded menuItem newline" style="margin-left: 0%;width: 60%;" value="" type="text" /><input class="menuInputs menuItem" style="margin-top: 3.5%;border: 0px;width: 17px;height: 17px;" type="radio" name="correctChoice" value="1" /><div style="margin-top: 3%;margin-right: 3%;font-size: 100%" class="menuItem">Correct?</div>
    <input id="choice3" class="menuInputs img-rounded menuItem newline" style="margin-left: 0%;width: 60%;" value="" type="text" /><input class="menuInputs menuItem" style="margin-top: 3.5%;border: 0px;width: 17px;height: 17px;" type="radio" name="correctChoice" value="1" /><div style="margin-top: 3%;margin-right: 3%;font-size: 100%" class="menuItem">Correct?</div>
    <input id="choice4" class="menuInputs img-rounded menuItem newline" style="margin-left: 0%;width: 60%;" value="" type="text" /><input class="menuInputs menuItem" style="margin-top: 3.5%;border: 0px;width: 17px;height: 17px;" type="radio" name="correctChoice" value="1" /><div style="margin-top: 3%;margin-right: 3%;font-size: 100%" class="menuItem">Correct?</div>
    <input id="choice5" class="menuInputs img-rounded menuItem newline" style="margin-left: 0%;width: 60%;" value="" type="text" /><input class="menuInputs menuItem" style="margin-top: 3.5%;border: 0px;width: 17px;height: 17px;" type="radio" name="correctChoice" value="1" /><div style="margin-top: 3%;margin-right: 3%;font-size: 100%" class="menuItem">Correct?</div>
    <div class="menuItem newline">Points</div>
    <input id="points" class="menuInputs img-rounded menuItem newline" style="margin-left: 0%;" value="1" type="text" />
    <div class="menuItem newline" style="margin-top: 10px;">Help Text...</div>
    <textarea id="helpInput" rows="2" class="menuInputs img-rounded menuItem newline" maxlength="100" style="margin-left: 0%;font-size: 16px;" placeholder="enter help text here..."></textarea>
    <div class="menuItem">Help Link...</div>
    <input id="helpLink" class="menuInputs img-rounded menuItem newline" style="margin-left: 0%;" value="" type="text" />
</div>
<div id="checkboxPane" class="highlight typePane img-right-rounded shadow">
    <div class="menuItem">Toggle Correct Answer</div>
    <input id="showCheckbox" type="checkbox" class="menuInputs img-rounded menuItem newline" style="margin-left: 48%;"/>
    <div class="menuItem newline">Points</div>
    <input id="points" class="menuInputs img-rounded menuItem newline" style="margin-left: 0%;" value="1" type="text" />
    <div class="menuItem newline" style="margin-top: 10px;">Help Text...</div>
    <textarea id="helpInput" rows="4" class="menuInputs img-rounded menuItem newline" maxlength="100" style="margin-left: 0%;font-size: 16px;" placeholder="enter help text here..."></textarea>
    <div class="menuItem">Help Link...</div>
    <input id="helpLink" class="menuInputs img-rounded menuItem newline" style="margin-left: 0%;" value="" type="text" />
</div>
<div id="textareaPane" class="highlight typePane img-right-rounded shadow">
    <div class="menuItem">Keywords to Search</div>
    <input id="keyword1" class="menuInputs img-rounded menuItem newline" style="margin-left: 0%;width: 95%;" value="" type="text" />
    <input id="keyword2" class="menuInputs img-rounded menuItem newline" style="margin-left: 0%;width: 95%;" value="" type="text" />
    <input id="keyword3" class="menuInputs img-rounded menuItem newline" style="margin-left: 0%;width: 95%;" value="" type="text" />
    <input id="keyword4" class="menuInputs img-rounded menuItem newline" style="margin-left: 0%;width: 95%;" value="" type="text" />
    <div class="menuItem">Points per Keyword Match</div>
    <input id="points" class="menuInputs img-rounded menuItem newline" style="margin-left: 35%;" value="1" type="text" />
    <div class="menuItem newline" style="margin-top: 10px;">Help Text...</div>
    <textarea id="helpInput" rows="2" class="menuInputs img-rounded menuItem newline" maxlength="100" style="margin-left: 0%;font-size: 16px;" placeholder="enter help text here..."></textarea>
    <div class="menuItem">Help Link...</div>
    <input id="helpLink" class="menuInputs img-rounded menuItem newline" style="margin-left: 0%;" value="" type="text" />
</div>
<section id="wrapper">
    {% for backImage in newProject.backgroundImages.all %}
        {% ifequal backImage.pageNumber pageNumber %}
        <img id="backgroundImage"src="{{ MEDIA_URL }}{{ backImage.imagePath }}"/>
        {% endifequal %}
    {% endfor %}
    
    {% if pageNumber > 1 %}
    <a href="/nextPage/{{ newProject.id }}/{{ pageNumber|add:"-1" }}/{{ totalPages }}/" title="Previous"><div id="leftNav" class="nav_button_holder"></div></a>
    {% endif %}
    {% ifnotequal pageNumber totalPages %}
    <a href="/nextPage/{{ newProject.id }}/{{ pageNumber|add:"1" }}/{{ totalPages }}/" title="Next"><div id="rightNav" class="nav_button_holder"></div></a>
    {% endifnotequal %}
    
    <form id="default_form">
    {% if formInputs %}
        {% for input in formInputs %}
            {% ifequal input.pageNumber pageNumber %}
            <!--<div id="options{{ input.id }}" class="options_holder img-rounded" style="position: absolute;left: {{ input.left|add:"-1" }}%;top: {{ input.top|add:"-1" }}%;width: {{ input.width|add:"4" }}%; height: {{ input.height|add:"11" }}%"></div>-->
            <input id="input{{ input.id }}" class="answers highlight" data-options='{"answer_id":"{{ input.id }}", "question_number":"{{ input.questionNumber }}", "input_type":"{{ input.inputType }}"}' type="{{ input.inputType }}" title='answer...' value="{% if input.correctAnswer %}{{ input.correctAnswer }}{% endif %}" name="" style="position: absolute;z-index: 1000;left: {{ input.left }}%;top: {{ input.top }}%;width: {{ input.width }}%; height: {{ input.height }}%">
            {% endifequal %}
        {% endfor %}
    {% endif %}
    </form>
    
    
</section>
        
<script>
    $( document ).ready(function() {
        resizeElements();
    });
    $( window ).resize(function() {
        resizeElements();
      });
    
    function resizeElements() {
        var screenWidth = $( '#wrapper' ).width();
        var fontPixels = (screenWidth/1267)*22;
        var fontPixels2 = (screenWidth/1267)*18;
        //$("input").attr('style','font-size:'+fontPixels+'px;line-height:'+fontPixels+'px;');
        //$("input").css('font-size', fontPixels+'px', 'line-height', fontPixels+'px');
        $("input").css({
                'font-size': fontPixels+'px',
                'line-height': fontPixels+'px' 
        });
	if (fontPixels2 < 14) {
	    fontPixels2 = 14
	}
	$(".menuItem").css({
                'font-size': fontPixels2+'px',
                'line-height': fontPixels2+'px' 
        });
	$("#questionType").css({
                'font-size': (fontPixels2-2)+'px',
                'line-height': (fontPixels2-2)+'px' 
        });
	
        var top = $('#questionMenu').offset().top - $(window).scrollTop();
	var bottom = $('#questionMenu').outerHeight(false);
	var topOfPane = top + bottom;
        $('.typePane').css({
                'top': topOfPane,
        });
        
        
    }
    
    /* Dajaxice Calls------------------------------------------------------------------------
     */
    /*$('#wrapper img').click(function(){
        Dajaxice.myproject.googleapi.test(test_callback, {'test_id':'it worked'});
    });*/
    
    var leftPercentage = 0;
    var topPercentage = 0;
    var widthPercentage = 0;
    var heightPercentage = 0;
    
    $('#wrapper img').imgAreaSelect({
        fadeSpeed: false,
        handles: true,
        onSelectEnd: function(img, selection){
            if (!selection.width || !selection.height){
                return;
            }
            $('.imgareaselect-selection').attr( 'id', 'enter_area');
            var imageWidth = $( '#wrapper' ).width();
            leftPercentage = (selection.x1/imageWidth)*100;
            var imageHeight = $( '#wrapper' ).height();
            topPercentage = (selection.y1/imageHeight)*100;
            widthPercentage = (selection.width/imageWidth)*100;
            heightPercentage = (selection.height/imageHeight)*100;
            
            
            //alert('left: ' + leftPercentage + '%, top: '+ topPercentage+ '%, width: ' + widthPercentage + '%, height: ' + heightPercentage + '%...');
            
        }
    });
    
    $(document).keydown(function (e) {
        if (e.keyCode == 13){
            e.preventDefault();
            if ($('#enter_area').is(":visible")) {
                //alert('selection is visible');
                runSelection();
            }
        }
    });
    
    $( document ).dblclick(function() {
            if ($('#enter_area').is(":visible")) {
                //alert('selection is visible');
                runSelection();
            }
        //alert('left: ' + leftPercentage + '%, top: '+ topPercentage+ '%, width: ' + widthPercentage + '%, height: ' + heightPercentage + '%...');
    });
    
    function runSelection() {
        $('.imgareaselect-outer').css('background-color','rgb(152,128,5)');
        $('#wrapper img').imgAreaSelect({
            fadeSpeed: 1000,
            hide: true,
            onSelectStart: doThisNext,
        });
        $('#wrapper img').imgAreaSelect({
            fadeSpeed: false,
        });
        var inputNumber = ($("form input").length)+1;
        Dajaxice.myproject.googleapi.test(test_callback, {'userInfo': '{{ userInfo.id }}', 'project_id':'{{ newProject.id }}', 'pageNumber': '{{ pageNumber }}', 'inputNumber': inputNumber, 'left': leftPercentage,'top':topPercentage,'width':widthPercentage,'height':heightPercentage});
        
    }
    
    function doThisNext(callback) {
        $('#wrapper img').imgAreaSelect({
            fadeSpeed: false,
        }); 
        $('.imgareaselect-outer').css('background-color','rgb(0,0,0)');
        
        //callback();
    }
    
    
    
    //Dajaxice.myproject.teacherTools.setQuickLink(setQuickLink_callback, {'list_id':listId, 'link_id':parseInt(linkID), 'user_id':parseInt(userID), 'sort_number':parseInt(sortNumber)});
    /*--------------------for dajaxice callbacks------------------------------------*/
	
    function test_callback(data){
        //alert('left: ' + data.left + '%, top: '+ data.top+ '%, width: ' + data.width + '%, height: ' + data.height + '%...');

        $( "#default_form" ).append( "<input id='input"+ data.inputNumber +"' class='answers highlight' data-options='' type='text' title='answer...' name=''>" );
        $("#input"+ data.inputNumber).css({
                'position': 'absolute',
                'z-index': '1000',
                'left': data.left + '%',
                'top': data.top+ '%',
                'width': data.width + '%',
                'height': data.height + '%'
        });
        $("#input"+ data.inputNumber).attr('data-options', '{"answer_id":"'+ data.inputNumber + '", "question_number":"'+ data.questionNumber + '", "input_type":"text"}');
        resizeElements();
    }
    
    /*****************************Put Answer info**************************************************/
    $('#default_form').on('focus', '.answers', function () {
        //alert('here');
        $('.typePane').hide();
        var elementID = $(this).attr('id');
        var IDnum = elementID.match(/\d+/g);
        $('#'+elementID).css('z-index','1002');
        $('#questionMenu').css('display','block');
	var answerID = $('#'+elementID).data("options").answer_id;
	$('#questionNumber').attr('data-options', '{"answer_id":"'+ answerID + '"}');
	$('#questionNumber').data("options").answer_id = answerID;
	$('#questionType').val($('#'+elementID).attr('type'));
	var question_type = $('#'+elementID).data("options").input_type;
	$( "#questionType" ).val(question_type);
	console.log(question_type);
        $('#questionNumber').val($('#'+elementID).data("options").question_number);
        resizeElements();
        setTimeout(function() {
            var dInput = $('#'+elementID).val();
            //console.log(dInput);
	    if (question_type == 'select') {
		$('#multipleChoicePane').slideDown( "slow");
	    }
	    else if (question_type == 'checkbox') {
		$('#checkboxPane').slideDown( "slow");
	    }
	    else if (question_type == 'textarea') {
		$('#textareaPane').slideDown( "slow");
	    }
	    else{$('#textPane').slideDown( "slow");}
            $('#correctAnswer').text(dInput);
        }, 500);
    });
    
    
    
    $('#backgroundImage').click(function(){
        //alert('background');
        $('.answers').blur();
        var elementID = $(this).attr('id');
        var IDnum = elementID.match(/\d+/g);
        $('#'+elementID).css('z-index','1000');
        $('#questionMenu').hide("slow");
        $('.typePane').hide("slow");
    });


    $("#default_form").on('keydown', '.answers', function() {
        //Interrupt the execution thread to allow input to update
        var elementID = $(this).attr('id');
        setTimeout(function() {
            var dInput = $('#'+elementID).val();
            //console.log(dInput);
            $('#correctAnswer').text(dInput);
        }, 0);
    });
    
    /******************CHECK IF QUESTION NUMBER CHANGES****************************/
    
    $('#questionNumber').change(function () {
	var inputNumber_id = $('#questionNumber').data("options").answer_id;
	var newQuestionNumber = $('#questionNumber').val();
	//alert(inputNumber_id);
	Dajaxice.myproject.googleapi.updateQuestionNumber(updateQuestionNumber_callback, {'inputNumber': inputNumber_id, 'newQuestionNumber': newQuestionNumber});
	
    });
    
    function updateQuestionNumber_callback(data){
	$("#input"+ data.inputNumber).data("options").question_number = data.newQuestionNumber;
	$("#input"+ data.inputNumber).attr('data-options', '{"answer_id":"'+ data.inputNumber + '", "question_number":"'+ data.newQuestionNumber + '"}');
	//alert(data.inputNumber);
    }
    
    /******************Enter Correct Answer****************************/
    
    $("#default_form").on('change', '.answers', function () {
        setTimeout(function() {
            var dInput = $('#'+elementID).val();
            //console.log(dInput);
            $('#correctAnswer').text(dInput);
        }, 1);
        var elementID = $(this).attr('id');
        var inputNumber_id = elementID.match(/\d+/g);
	var newCorrectAnswer = $('#'+elementID).val();
	if (document.getElementById(elementID).checked == true) {
	    $('#showCheckbox').prop("checked", true);
	}
	else{$('#showCheckbox').prop("checked", false);}
	//alert(inputNumber_id);
	Dajaxice.myproject.googleapi.updateCorrectAnswer(updateCorrectAnswer_callback, {'inputNumber': parseInt(inputNumber_id), 'newCorrectAnswer': (newCorrectAnswer).toString()});
    });
    
    function updateCorrectAnswer_callback(data){
	//alert(data.inputNumber);
    }
    
    /******************Change question Type****************************/
    $( "#questionType" ).change(function() {
	var inputNumber_id = $('#questionNumber').data("options").answer_id;
	var inputType = $( "#questionType" ).val();
	var oldInputType = $('#input'+inputNumber_id).data("options").input_type;
	
	Dajaxice.myproject.googleapi.updateInputType(updateInputType_callback, {'inputNumber': parseInt(inputNumber_id), 'newInputType': (inputType).toString()});
	//alert(inputNumber_id);
	if (inputType == 'textarea') {
	    createTextarea('input'+inputNumber_id)
	}
	$('#input'+inputNumber_id).get(0).type = inputType;
	var data = $('#input'+inputNumber_id).data("options");
	$('#input'+inputNumber_id).data("options").input_type = inputType;
	$('#input'+inputNumber_id).attr('data-options', '{"answer_id":"'+ data.answer_id + '", "question_number":"'+ data.question_number + '", "input_type":"'+inputType+'"}');
	$('#input'+inputNumber_id).focus();
    });
    
    function updateInputType_callback() {
	//code
    }
    
    
    /*****************************Synchronize Checkboxes*************************/
    $('#showCheckbox').click(function(){
	var inputNumber_id = $('#questionNumber').data("options").answer_id;
	if (document.getElementById('showCheckbox').checked == true) {
	    $('#input'+inputNumber_id).prop("checked", true);
	}
	else{$('#input'+inputNumber_id).prop("checked", false);}
    });
    
    function createTextarea(elementID) {
	//get the important parts of element
	var testStyle = $('#'+elementID).attr('style');
	var data = $('#'+elementID).data("options");
	//make the old input disappear
	$('#'+elementID).remove();
	//$('#'+elementID).css("display","none");
	//$('#'+elementID).attr('id','noShow');
	
	//Now, create the textarea
	$( "#default_form" ).append( "<textarea id='"+ elementID +"' class='answers highlight' readonly='readonly' data-options=''>Place keywords to search in order to help with grading later.</textarea>" );
        $('#'+elementID).attr('style',testStyle);
        //$('#'+elementID).attr('data-options', '{"answer_id":"'+ options.answer_id + '", "question_number":"'+ options.question_number + '"}');
	
	$('#'+elementID).attr('data-options', '{"answer_id":"'+ data.answer_id + '", "question_number":"'+ data.question_number + '", "input_type":"textarea"}');
	
        resizeElements();
        
	
	//console.log(style);
	//style="position: absolute;z-index: 1000;left: {{ input.left }}%;top: {{ input.top }}%;width: {{ input.width }}%; height: {{ input.height }}%"
    }
    
    
    
</script



</body>
</html> 